<div class="page-header">
    <h1>Dashboard</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">My Sales</a></li>
            <li><a href="#tab2" data-toggle="tab">Tracker</a></li>
            <li><a href="#tab3" data-toggle="tab">Tracker 2</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">

            <!-- Column 1 -->
            <div class="col-md-6">

                <div class="panel panel-default dashboard">
                    <div class="panel-heading"><h3>Panel heading</h3></div>
                    <div class="panel-pagination">
                        <ul class="pagination pagination-sm pull-right">
                            <li><a href="#">&laquo;</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </div>
                    <div class="panel-content">
                        <table class="table table-condensed table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Report Name</th>
                                    <th>Module</th>
                                    <th>Report Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="#">Report Name</a></td>
                                    <td>Module</td>
                                    <td>Report Type</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

            <!-- Column 2 -->
            <div class="col-md-6">
                
                <div class="panel panel-default dashboard">
                    <div class="panel-heading"><h3>Panel heading</h3></div>
                    <div class="panel-pagination">
                        <ul class="pagination pagination-sm pull-right">
                            <li><a href="#">&laquo;</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </div>
                    <div class="panel-content">
                        <table class="table table-condensed table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Report Name</th>
                                    <th>Module</th>
                                    <th>Report Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="#">Report Name</a></td>
                                    <td>Module</td>
                                    <td>Report Type</td>
                                </tr>
                                <tr>
                                    <td><a href="#">Report Name</a></td>
                                    <td>Module</td>
                                    <td>Report Type</td>
                                </tr>
                                <tr>
                                    <td><a href="#">Report Name</a></td>
                                    <td>Module</td>
                                    <td>Report Type</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>
        <div class="tab-pane" id="tab2">
            <div class="col-md-12">
                Tab 2 content
            </div>     
        </div>
        <div class="tab-pane" id="tab3">
            <div class="col-md-12">
                Tab 3 content
            </div>
        </div>
    </div>
</div>