<?php //print_r(array_map(function ($a) { return $a; }, $this->pages)); //echo implode(', ', array_map(function ($a) { return $a->getLabel(); }, $this->pages)); ?>
<ul class="breadcrumb">
    <?php foreach($this->pages as $page): ?>
        <?php /* @var $page \Zend\Navigation\Page\Mvc */ ?>
        <?php echo '<PRE>'; print_r(); die; ?>
        <?php if(!$page->isActive()): ?>
            <li>
                <a href="<?php echo $page->getHref() ?>"><?php echo $page->getLabel() ?></a> 
                <span class="divider">/</span>
            </li>
        <?php else: ?>
            <li class="active">
            </li>
        <?php endif ?>
    <?php endforeach ?>
</ul>