<?php
$form = $this->form;
$form->prepare();
echo $this->form()->openTag($form);
echo $this->formElement($form->get('submit')->setAttribute('class', 'btn btn-default'));
?>

<ul class="nav nav-tabs">
	<?php foreach($this->helper->tabs as $key => $tab) { ?>
		<li class="<?php echo ($tab['attrs']['active'])?'active':''; ?>"><a href="#<?php echo $tab['key']; ?>" data-toggle="tab"><?php echo $tab['title'] ?></a>
	<?php } ?>
</ul>
<div class="tab-content tab-form">
	<?php foreach($this->helper->tabs as $key => $tab) { ?>
		<div class="tab-pane <?php echo ($tab['attrs']['active'])?'active':''; ?>" id="<?php echo $tab['key']; ?>">
			<table class="table table-bordered">
				<tbody>
					<?php foreach ($tab['content']['elements'] as $key => $value) { 
						$element = $form->get($value);
						$class = $element->getAttribute('class');
						$element->setAttribute('class', $class . ' form-control');
						?>
						<tr>
							<td>
								<label class="control-label">
									<?php 
									//echo $formLabel->openTag();
									echo $element->getOption('label');
									//echo $formLabel->closeTag();
									?>
								</label>
							</td>
							<td>
								<div class="controls">
									<?php
									echo $this->formElement($element);
									if($this->formElementErrors($element)) ?>
										<span class="help-inline"><?php echo $this->formElementErrors($element); ?></span>
								</div>
							</td>
						</tr>
					<?php } ?>
				</tbody>
			</table>
		</div>
	<?php } ?>
	<?php /*<button onclick="add_category();">Add a new category</button>
	<script>
    function add_category() {
    	alert('hello');
        var currentCount = $('form > fieldset > fieldset').length;
        var template = $('form > fieldset > span').data('template');
        template = template.replace(/__index__/g, currentCount);

        $('form > fieldset').append(template);

        return false;
    }
</script>*/ ?>
</div>

<?php
echo $this->formElement($form->get('submit')->setAttribute('class', 'btn btn-default'));
echo $this->formElement($form->get('id'));
echo $this->formElement($form->get('csrf'));
echo $this->form()->closeTag($form);