<div class="page-header">
	<h1><?php echo $this->helper->title; ?></h1>
</div>
<div class="row">
	<div class="col-md-12" id="form">
		<?php echo $this->partial($this->helper->layout, $this->vars()); ?>
	</div>
</div>