<?php
$form = $this->form;
$form->prepare();
echo $this->form()->openTag($form);
echo $this->formElement($form->get('submit')->setAttribute('class', 'btn btn-default'));
?>

<table class="table table-bordered">
	<tbody>
		<?php foreach ($this->helper->elements as $key => $value) {
			$element = $form->get($value);
			$class = $element->getAttribute('class');
			$element->setAttribute('class', $class . ' form-control');
			$hidden = '';
			if (strpos($element->getAttribute('type'), 'hidden') !== false) {
    			$hidden = 'style="display: none;"';
			}
			?>
			<tr <?php echo $hidden; ?> >
				<td>
					<label class="control-label">
						<?php 
						//echo $formLabel->openTag();
						echo $element->getOption('label');
						//echo $formLabel->closeTag();
						?>
					</label>
				</td>
				<td>
					<div class="controls">
						<?php
						echo $this->formElement($element);
						if($this->formElementErrors($element)) ?>
							<span class="help-inline"><?php echo $this->formElementErrors($element); ?></span>
					</div>
				</td>
			</tr>
		<?php } ?>
	</tbody>
</table>

<?php
echo $this->formElement($form->get('submit')->setAttribute('class', 'btn btn-default'));
echo $this->formElement($form->get('id'));
echo $this->formElement($form->get('csrf'));
echo $this->form()->closeTag($form);