<table class="table table-striped table-hover list-form-table">
	<thead>
		<tr>
			<th width="45"><input type="checkbox" /></th>
			<?php foreach ($this->helper->headers as $key => $header) { 
				$width = (isset($header['width']) && is_numeric($header['width']) && $header['width']>0) ? 'width="'.$header['width'].'"':'';
				$align = (isset($header['align']) ) ? 'style="text-align:'.$header['align'].';"':'';
				if(!isset($header['order']) OR (isset($header['order']) AND $header['order'])):
					$orderWay = ($this->helper->orderWay == 'ASC') ? 'DESC' : 'ASC';
					?>
					<th <?php echo $width. ' ' .$align; ?> >
						<a href="<?php echo $this->url('admin/'.$this->helper->moduleName.'/sort', array('controller' => $this->helper->controllerName, 'order_by' => $key, 'order' => $orderWay)); ?>">
							<?php echo $header['title']; ?>
							<?php if($this->helper->orderBy == $key): ?>
								<i class="glyphicon glyphicon-chevron-<?php echo $this->helper->orderWay == 'ASC' ? 'down' : 'up' ?>"></i>
							<?php endif; ?>
						</a>
					</th>
				<?php else: ?>
					<th <?php echo $width; ?> >
						<?php echo $header['title']; ?>
					</th>
				<?php endif; ?>
			<?php } ?>
			<th width="75">Actions</th>
		</tr>
	</thead>
	<tbody>
		<?php foreach ($this->elements as $key => $element) { ?>
			<tr>
				<td><input type="checkbox" /></td>
				<?php
				foreach($this->helper->headers as $key => $header) {

					// Get value
					$value = '';
					$object = $element;
					$id = 0;
					$methods = explode('!', $key);
					for ($i = 0; $i < count($methods); $i++) {
						$id = ($i+1 == count($methods))? $object->getId() : 0;
						$method = 'get' . ucwords($methods[$i]);
						$object = call_user_func(array($object, $method));
					}
					//$value = $this->escapeHtml((string) $object);
					$value = $object;

					// Check if the field has some decorator
                    /*if( isset($header['decorators']) ) {
                        foreach ($header['decorators'] as $key => $decorator) {
                            switch ($key) {
                                case 'link':
                                    $link_module = $decorator['module'];
                                    $link_controller = $decorator['controller'];
                                    $link_action = $decorator['action'];
                                    if( isset($decorator['id']) && $decorator['id']=='{id}' )
                                        $link_id = $id;
                                    $value = '<a href="'.$this->url('admin/'.$link_module.'/default', array('controller' => $link_controller, 'action' => $link_action, 'id' => $link_id)).'">'. $value .'</a>';
                                    break;

                               	case 'plugin':
                               		$plugin = $decorator['method'];
                               		$value = $this->$plugin($value, $element->getLvl());
                               		break;
                                
                                default:
                                    # code...
                                    break;
                            }
                        }
                    }*/
                    if( isset($header['type']) ):
                    	switch ($header['type']) {
                    		case 'date':
                    			if( isset($header['format']) ):
									$value = $value->format($header['format']);
								endif;
								break;

                    		case 'percent':
                    			$value = $value.'%';
                    			break;

                    		case 'boolean':
                    			if( $value )
                    				$value = '<span class="glyphicon glyphicon-ok"></span>';
                    			else
                    				$value = '<span class="glyphicon glyphicon-remove"></span>';
                    			break;

                    		case 'email':
                				$value = '<a href="mailto:'.$value.'">'.$value.'</a>';
                				break;

                			case 'tree':
                				$value = $this->addTreeLevel($value, $element->getLvl());
                				break;
                    		
                    		default:
                    			# code...
                    			break;
                    	}
                    endif;

                	$align = ( isset($header['align']) ) ? 'align="'.$header['align'].'"':'';

                    echo '<td '.$align.'>'. $value .'</td>';
				}
				?>
				<td>
					<div class="btn-group">
                        <a class="btn btn-default btn-xs" href="<?php echo $this->url('admin/'.$this->helper->moduleName.'/default', array('controller' => $this->helper->controllerName, 'action' => 'view', 'id' => $element->getId() )); ?>">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                        <a class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="<?php echo $this->url('admin/'.$this->helper->moduleName.'/default', array('controller' => $this->helper->controllerName, 'action' => 'edit', 'id' => $element->getId() )); ?>">Edit</a></li>
                            <li><a href="#">Delete</a></li>
                        </ul>
                    </div>
				</td>
			</tr>
		<?php } ?>
	</tbody>
</table>