<div class="list-form-pagination">
	<div class="btn-group">
        <button type="button" class="btn btn-default btn-sm"><input type="checkbox" /></button>
        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">Select This Page</a></li>
            <li><a href="#">Select All</a></li>
            <li><a href="#">Deselect All</a></li>
        </ul>
    </div>
    <div class="btn-group">
        <a href="<?php echo $this->url('admin/'. $this->helper->moduleName .'/default', array('controller' => $this->helper->controllerName, 'action' => 'add')); ?>" class="btn btn-default btn-sm">Create</a>
        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">Delete</a></li>
            <li><a href="#">Export</a></li>
        </ul>
    </div>
	<?php echo $this->paginationControl($paginator, 'Sliding', $this->helper->layout_pagination, array('route' => 'admin/'.$this->helper->moduleName.'/paginator', 'controller' => $this->helper->controllerName)); ?>
</div>