<div class="page-header">
	<h1><?php echo $this->helper->title; ?></h1>
</div>
<div class="row">
	<div class="col-md-12" id="index">
		<?php echo $this->partial('crud/layout/index_search_form', $this->vars()); ?>
		<?php echo $this->form()->openTag($this->list_form); ?>
			<?php echo $this->partial('crud/layout/index_pagination', $this->vars()); ?>
			<?php echo $this->partial('crud/layout/index_elements', $this->vars()); ?>
			<?php echo $this->partial('crud/layout/index_pagination', $this->vars()); ?>
		<?php echo $this->form()->closeTag(); ?>
	</div>
</div>