<?php echo $this->form()->openTag($this->search_form); ?>
    <table>
        <tbody>
            <tr>
                <td width="65">
                    <label class="control-label">Keyword:</label>
                </td>
                <td width="200">
                    <input type="text" class="form-control" name="keyword" value="<?php echo $this->keyword; ?>" />
                </td>
                <td>
                    <input type="submit" class="btn btn-default btn-sm" name="searchSubmit" value="Search" />
                </td>
                <td>
                    <input type="submit" class="btn btn-default btn-sm" name="clearSubmit" value="Clear" />
                </td>
            </tr>
        </tbody>
    </table>
<?php echo $this->form()->closeTag(); ?>