<!--
See http://developer.yahoo.com/ypatterns/pattern.php?pattern=searchpagination
-->

<?php if ($this->pageCount): ?>
  <!-- <div id="pagination"> -->
    <ul class="pagination pagination-sm pull-right">
      <!-- Previous page link -->
      <?php if (isset($this->previous)): ?>
        <li>
          <a href="<?php echo $this->url($this->route, array('controller' => $controller, 'page' => $this->previous)); ?>">
            &lt; Previous
          </a>
        </li>
      <?php else: ?>
        <li class="disabled"><span>&lt; Previous</span></li>
      <?php endif; ?>

      <!-- Numbered page links -->
      <?php foreach ($this->pagesInRange as $page): ?>
        <?php if ($page != $this->current): ?>
          <li>
            <a href="<?php echo $this->url($this->route, array('controller' => $controller, 'page' => $page)); ?>">
                <?php echo $page; ?>
            </a>
          </li>
        <?php else: ?>
          <li class="active"><span><?php echo $page; ?></span></li>
        <?php endif; ?>
      <?php endforeach; ?>

      <!-- Next page link -->
      <?php if (isset($this->next)): ?>
        <li>
          <a href="<?php echo $this->url($this->route, array('controller' => $controller, 'page' => $this->next)); ?>">
            Next &gt;
          </a>
        </li>
      <?php else: ?>
        <li class="disabled"><span>Next &gt;</span></li>
      <?php endif; ?>
    </ul>
  <!-- </div> -->
<?php endif; ?>