<?php foreach($this->helper->lists as $list):
	$elements = call_user_func(array($this->element, 'get'.ucwords($list['key']))); ?>
	<?php if(count($elements) > 0): ?>
		<div class="panel panel-default panel-view-list">
			<div class="panel-heading"><h3><?php echo $list['title'] ?></h3></div>
			<div class="panel-pagination">
				<a class="btn btn-default btn-sm pull-left" href="#">Create</a>
		        <ul class="pagination pagination-sm pull-right">
		            <li><a href="#">&laquo;</a></li>
		            <li class="active"><a href="#">1</a></li>
		            <li><a href="#">2</a></li>
		            <li><a href="#">3</a></li>
		            <li><a href="#">4</a></li>
		            <li><a href="#">&raquo;</a></li>
		        </ul>
			</div>
			<div class="panel-content">
				<table class="table table-condensed table-striped table-hover">
					<thead>
						<tr>
							<?php foreach($list['content']['headers'] as $key => $attrs) { ?>
								<th><?php echo $attrs['title']; ?></th>
							<?php } ?>
							<th width="75"></th>
						</tr>
					</thead>
					<tbody>
						<?php 
						foreach($elements as $element) { 
							echo '<tr>';
							foreach($list['content']['headers'] as $key => $attrs) { 
								// Get value
								$value = '';
								$object = $element;
								$id = 0;
								$methods = explode('!', $key);
								for ($i = 0; $i < count($methods); $i++) {
									$id = ($i+1 == count($methods))? $object->getId() : 0;
									$method = 'get' . ucwords($methods[$i]);
									$object = call_user_func(array($object, $method));
								}
								$value = $this->escapeHtml((string) $object);

								echo '<td>'.$this->escapeHtml($value).'</td>';
							}
							echo '</tr>';
						} 
						?>
					</tbody>
				</table>
			</div>
		</div>
	<?php endif; ?>
<?php endforeach; ?>