<?php foreach($this->helper->lists as $list):
	$elements = call_user_func(array($this->element, 'get'.ucwords($list->key))); ?>
	<?php if(count($elements) > 0): ?>
		<div class="panel panel-default panel-view-list">
			<div class="panel-heading"><h3><?php echo $list->title ?></h3></div>
			<div class="panel-pagination">

				<?php 
				foreach($list->toolbar as $key => $tolbarElement):
					switch ($key) {
						case 'btn':
							echo '<a class="btn btn-default btn-sm pull-left" href="'. $this->url('admin/'.$tolbarElement['module'].'/default', array('controller' => $tolbarElement['controller'], 'action' => $tolbarElement['action'] ), array('query' => array('relatedTo' => $this->helper->moduleName.'.'.$this->helper->controllerName, 'relatedId' => $this->element->getId()))) .'">'. $tolbarElement['title'] .'</a>';
							break;
						
						default:
							# code...
							break;
					}
				endforeach;
				?>


		        <ul class="pagination pagination-sm pull-right">
		        	<?php if($list->page > 1): ?>
		            	<li><a href="<?php echo $this->url('admin/'.$this->helper->moduleName.'/default', array('controller' => $this->helper->controllerName, 'action' => 'view', 'id' => $this->element->getId()), array('query' => array('pageList' => $list->key, 'page' => $list->page-1))) ?>">&laquo;</a></li>
		            <?php else: ?>
		            	<li class="disabled"><span>&laquo;</span></li>
		            <?php endif; ?>
		            <?php for($i=1; $i<=ceil(count($elements)/10); $i++):
		            	$active = ($i == $list->page) ? 'class="active"':'';
		            	?>
		            	<li <?php echo $active; ?> ><a href="<?php echo $this->url('admin/'.$this->helper->moduleName.'/default', array('controller' => $this->helper->controllerName, 'action' => 'view', 'id' => $this->element->getId()), array('query' => array('pageList' => $list->key, 'page' => $i))) ?>"><?php echo $i; ?></a></li>
		        	<?php endfor; ?>
		        	<?php if($list->page < floor(count($elements)/10)): ?>
		            	<li><a href="<?php echo $this->url('admin/'.$this->helper->moduleName.'/default', array('controller' => $this->helper->controllerName, 'action' => 'view', 'id' => $this->element->getId()), array('query' => array('pageList' => $list->key, 'page' => $list->page+1))) ?>">&raquo;</a></li>
		            <?php else: ?>
		            	<li class="disabled"><span>&raquo;</span></li>
		            <?php endif; ?>
		        </ul>



			</div>
			<div class="panel-content">
				<table class="table table-condensed table-striped table-hover">
					<thead>
						<tr>
							<?php foreach($list->headers as $key => $header) { 
								$width = (isset($header['width']) && is_numeric($header['width']) && $header['width']>0) ? 'width="'.$header['width'].'"':'';
								$orderWay = ($list->orderWay == 'ASC') ? 'DESC' : 'ASC';
								?>
								<th <?php echo $width; ?> >
									<a href="<?php echo $this->url('admin/'.$this->helper->moduleName.'/default', array('controller' => $this->helper->controllerName, 'action' => 'view', 'id' => $this->element->getId()), array('query' => array('orderList' => $list->key, 'orderBy' => $key, 'orderWay' => $orderWay))) ?>">
										<?php echo $header['title']; ?>
										<?php if($list->orderBy == $key): ?>
											<i class="glyphicon glyphicon-chevron-<?php echo $list->orderWay == 'ASC' ? 'down' : 'up' ?>"></i>
										<?php endif; ?>
									</a>
								</th>
							<?php } ?>
							<th width="75"></th>
						</tr>
					</thead>
					<tbody>
						<?php 
						foreach($elements->slice($list->page-1, 10) as $element) { 
							echo '<tr>';
							foreach($list->headers as $key => $header) { 
								// Get value
								$value = '';
								$object = $element;
								$id = 0;
								$methods = explode('!', $key);
								for ($i = 0; $i < count($methods); $i++) {
									$id = ($i+1 == count($methods))? $object->getId() : 0;
									$method = 'get' . ucwords($methods[$i]);
									$object = call_user_func(array($object, $method));
								}
								//$value = $this->escapeHtml((string) $object);
								$value = $object;

								// Check if the field has some decorator
			                    /*if( isset($header['decorators']) ) {
			                        foreach ($header['decorators'] as $key => $decorator) {
			                            switch ($key) {
			                                case 'link':
			                                    $link_module = $decorator['module'];
			                                    $link_controller = $decorator['controller'];
			                                    $link_action = $decorator['action'];
			                                    if( isset($decorator['id']) && $decorator['id']=='{id}' )
			                                        $link_id = $id;
			                                    $value = '<a href="'.$this->url('admin/'.$link_module.'/default', array('controller' => $link_controller, 'action' => $link_action, 'id' => $link_id)).'">'. $value .'</a>';
			                                    break;

			                                default:
			                                    # code...
			                                	die($key);
			                                    break;
			                            }
			                        }
			                    }*/

			                    if( isset($header['type']) ):
			                    	switch ($header['type']) {
			                    		case 'date':
			                    			if( isset($header['format']) ):
												$value = $value->format($header['format']);
											endif;
											break;

			                    		case 'percent':
			                    			$value = $value.'%';
			                    			break;

			                    		case 'boolean':
			                    			if( $value )
			                    				$value = '<span class="glyphicon glyphicon-ok"></span>';
			                    			else
			                    				$value = '<span class="glyphicon glyphicon-remove"></span>';
			                    			break;

			                    		case 'email':
		                    				$value = '<a href="mailto:'.$value.'">'.$value.'</a>';
		                    				break;
			                    		
			                    		default:
			                    			# code...
			                    			break;
			                    	}
			                    endif;

			                    $align = (isset($header['align']))? 'align="'.$header['align'].'"':'';

								echo '<td '.$align.'>'.$value.'</td>';
							}
							?>
							<td align="center">
								<div class="btn-group">
			                        <a class="btn btn-default btn-xs" href="<?php echo $this->url('admin/'. $list->route['module'] .'/default', array('controller' => $list->route['controller'], 'action' => 'view', 'id' => $element->getId() )); ?>">
			                            <span class="glyphicon glyphicon-eye-open"></span>
			                        </a>
			                        <a class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
			                            <span class="caret"></span>
			                        </a>
			                        <ul class="dropdown-menu pull-right" role="menu">
			                            <li><a href="<?php echo $this->url('admin/'. $list->route['module'] .'/default', array('controller' => $list->route['controller'], 'action' => 'edit', 'id' => $element->getId() )); ?>">Edit</a></li>
			                            <li><a href="#">Delete</a></li>
			                        </ul>
			                    </div>
							</td>
						<?php 
							echo '</tr>';
						} ?>
					</tbody>
				</table>
			</div>
		</div>
	<?php endif; ?>
<?php endforeach; ?>