<div class="panel panel-default panel-view-detail">
	<!-- <div class="panel-heading"><h3>PANEL</h3></div> -->
	<div class="panel-body">
		<table class="table table-view-detail">
			<tbody>
				<?php foreach ($this->helper->elements as $rows) { ?>
					<tr>
						<?php
						foreach ($rows as $key => $column) {

							$colspan = ( count($rows) == 1 ) ? 'colspan="3"' : '';

							// Get value
							$value = '';
							$object = $this->element;
							$id = 0;
							$methods = explode('!', $key);
							for ($i = 0; $i < count($methods); $i++) {
								$id = ($i+1 == count($methods) AND !is_null($object))? $object->getId() : 0;
								$method = 'get' . ucwords($methods[$i]);
								// Check if is a null object
								if(!is_null($object)){
									$object = call_user_func(array($object, $method));
								} else {
									$object = '--';
									break;
								}
							}

							$value = $object;

							/*if(!$column['html'])
								$value = $this->escapeHtml((string) $object);
							else
								$value = $object;*/



							if( isset($column['type']) ):
								switch ($column['type']) {
									case 'date':
										if( isset($column['format']) ):
											$value = $value->format($column['format']);
										endif;
										break;

									case 'percent':
										$value = $value.'%';
										break;

									case 'boolean':
		                    			if( $value )
		                    				$value = '<span class="glyphicon glyphicon-ok"></span>';
		                    			else
		                    				$value = '<span class="glyphicon glyphicon-remove"></span>';
		                    			break;

			                    	case 'email':
		                    				$value = '<a href="mailto:'.$value.'">'.$value.'</a>';
		                    				break;
									
									default:
										# code...
										break;
								}
							endif;

							if($value == '') 
								$value = '--';

							?>
							<td><?php echo $this->escapeHtml($column['title']); ?></td>
							<td <?php echo $colspan; ?> ><?php echo $value; ?></td>
							<?php 
						}
						?>
					</tr>
				<?php } ?>
			</tbody>
		</table>
	</div>
</div>