<div class="page-header">
	<h1><?php echo $this->helper->title; ?></h1>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="btn-group btns-toolbar">
		  	<a class="btn btn-default btn-sm" href="<?php echo $this->url('admin/'. $this->helper->moduleName .'/default', array('controller' => $this->helper->controllerName, 'action' => 'edit', 'id' => $element->getId() )); ?>">Edit</a>
		  	<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
		    	<span class="caret"></span>
		  	</button>
		  	<ul class="dropdown-menu" role="menu">
			    <li><a href="<?php echo $this->url('admin/'. $this->helper->moduleName .'/default', array('controller' => $this->helper->controllerName, 'action' => 'delete', 'id' => $element->getId() )); ?>">Delete</a></li>
		  	</ul>
		</div>
		<?php echo $this->partial('crud/layout/view_details', $this->vars()); ?>
		<?php echo $this->partial('crud/layout/view_list', $this->vars()); ?>
	</div>
</div>