<h2>Index View...</h2>

<?php if(isset($this->posts)): ?>
	<table border="1">
		<?php foreach ($this->posts as $key => $post): ?>
			<tr>
				<td><?php echo $post['id']; ?></td>
				<td><?php echo $post['name']; ?></td>
			</tr>
		<?php endforeach; ?>
	</table>
<?php else: ?>
	<p>There is not post to display</p>
<?php endif; ?>