<p class="payment_module">
    <a href="{$link->getModuleLink('sagepay', 'payment')}" title="{l s='Pay with Sagepay' mod='sagepay'}">
        <img src="{$this_path}sagepay.jpg" alt="{l s='Pay with Sagepay' mod='sagepay'}" width="86" height="49"/>
        <span>{l s='Pay with Sagepay' mod='sagepay'}</span>
    </a>
</p>